:root {
    --main-green: #28D979;
    --main-gray: #F0F0F0;
    --main-yellow: #DDF163;
    --key-word: #149063;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    min-width: 320px;
}

h1 {
    visibility: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 15px 20px;
    max-width: 1200px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 'A B C C'
        'D D D E'
        'D D D E'
        'D D D E'
        'F F J J'
        'F F M M';
    grid-auto-rows: min-content;
    gap: 20px;
}

.text-densed {
    letter-spacing: -0.4px;
}

.gray {
    background-color: var(--main-gray)
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
    padding: 10px 12px;
}


.photo-of-me {
    width: 100%;
    grid-area: A;
    padding: 0;
}

.title {
    font-weight: 500;
}

.card-title {
    font-size: 14px;
    font-weight: 500;
}

.my-name {
    font-size: 14px;
    font-weight: 600;
}

.occupation {
    font-size: 12px;
    color: #5C5C5C;
}

.general-info {
    justify-content: end;
    gap: 6px;
    grid-area: B;
}

.greeting {
    margin-bottom: auto;
}

.languages {
    display: block;
    grid-area: C;
}

.progress-line {
    height: 11px;
    border-radius: 3px;
    background-color: var(--main-green);
    width: 100%;
}

.languages__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 18px;
}

.languages__list-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 17px;
    justify-content: left;

    &:last-of-type .progress-line {
        width: 77%;
    }

    span {
        min-width: 30%;
    }
}

.experience {
    grid-area: D;
    min-width: 120px;
    justify-content: flex-start;
    gap: 18px;
}

.experience__position {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
}

.experience__company {
    font-size: 8px;
    line-height: 12px;
}

.experience-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-inner-wrapper {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

ul.responsibilities-list:has(> li.responsibilities-list__item) {
    font-size: 8px;
    list-style-type: disc !important;
}

.long-card {
    background-color: #ffffff;
    gap: 8px;
    font-size: 8px;
    padding: 7px 9px;
}

.long-card:has(> .card-inner-wrapper .badge) {
    color: #ffffff;
    background-color: var(--main-green);
}

.badge {
    margin-left: auto;
    padding: 2px 6px;
    color: var(--main-yellow);
    background-color: #7E731266;
    max-width: max-content;
}

.tools {
    grid-area: E;
    justify-content: flex-start;
    gap: 15px;
}

.tools-card {
    padding: 8px;
    position: relative;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.tools-cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tools-card__title {
    position: absolute;
    padding: 2px 6px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 5px;
    white-space: nowrap;
}

.tools-card__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 20px);
    grid-auto-rows: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 8px;
    gap: 12px;
    max-width: 80px;
}

.education {
    grid-area: F;
    justify-content: flex-start;
    gap: 12px;
}

.education-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

}

.majority {
    font-size: 8px;
    font-weight: 400;
}

.majority__title {
    font-size: 10px;
    font-weight: 500;

}

.majority__key-words {
    color: var(--key-word);
    line-height: 12px;
}

.card-title {
    font-weight: 500;
}

.education-card {
    background-color: #ffffff;
    gap: 8px;
    padding: 6px 10px;
}

.education-card__place {
    font-size: 8px;
}

.education-card.picked {
    position: relative;
    background-color: var(--main-green);
    color: #ffffff;

    & .majority__key-words {
        color: #ffffff;
    }

    &::before {
        position: absolute;
        top: 11px;
        right: 8px;
        content: url('assets/img/icons/heart.svg')
    }
}

.interests {
    grid-area: J;
    justify-content: flex-start;
    gap: 13px;
}

.interests-wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.interests-card {
    padding: 4px 10px;
    background-color: #ffffff;
}

.contacts {
    grid-area: M;
    background-color: #000000;
    color: #ffffff;

    a {
        color: #ffffff;
        font-weight: 400;
        font-size: 10px;
    }

    h2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 565px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas:
            'A A B B'
            'C C C C'
            'D D D D'
            'D D D D'
            'D D D D'
            'E E E E'
            'F F F F'
            'J J J J'
            'M M M M';
        grid-auto-rows: min-content;
        gap: 10px;
    }

    .tools-cards__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .tools-card {
        padding: 20px;
    }

    .tools-card__wrapper {
        gap: 25px;
        grid-template-columns: repeat(2, 50px);
        grid-auto-rows: 30px;

        img {
            width: 30px;
        }
    }

    .tools-card__title {
        padding: 3px 10px;
        font-size: 12px;
    }

    .general-info,
    .my-name,
    .occupation {
        font-size: 18px;
    }

    .card-title {
        font-size: 16px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    .languages__list-item {
        grid-template-columns: 2fr 3fr;
    }
}

@media (min-width: 600px) {
    .card-title {
        font-size: 18px;
    }

}


@media (min-width: 1024px) {

    .greeting,
    .my-name,
    .occupation {
        font-size: 26px;
    }

    .card-title {
        font-size: 22px;
    }

    .long-card {
        gap: 16px;
        font-size: 16px;
    }

    .experience {
        min-width: 215px;
    }

    .experience-cards-wrapper {
        gap: 32px
    }

    .experience__company {
        font-size: 14px;
    }

    .experience__position {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .responsibilities-list__item {
        font-size: 14px;
    }

    .tools {
        gap: 30px
    }

    .tools-card {
        padding: 16px;
    }

    .tools-cards__wrapper {
        justify-content: space-between;
        gap: 30px;
    }

    .tools-card__title {
        font-size: 16px;
    }

    .tools-card__wrapper {
        grid-template-columns: repeat(2, 40px);
        grid-auto-rows: 40px;

        img {
            width: 30px;
        }
    }

    .majority,
    .majority__title,
    .majority__key-words,
    .education-card__place {
        font-size: 14px;
    }

    .majority__key-words {
        margin-top: 10px;
        line-height: 18px;
    }

    .majority__title {
        font-size: 16px;
    }

    .education-card {
        gap: 16px
    }

    .education-card.picked::before {
        transform: scale(2);
        right: 18px;
    }

    .contacts {

        h2 {
            font-size: 18px;
        }

        a {
            font-size: 16px;
        }
    }

}


